#!/usr/bin/nft -f

flush ruleset

table inet nat {
	chain prerouting {
		type nat hook prerouting priority dstnat;
{% if router.dnat is defined -%}
{%- for d in router.dnat %}
		iif {{router.ifname_wan}} {{d.protocol}} dport { {{d.origin_port}} } dnat ip to {{d.destination_ipv4}}:{{d.destination_port}}
{% endfor -%}
{% endif %}
	}
	chain postrouting {
		type nat hook postrouting priority srcnat;
		oif {{router.ifname_wan}} masquerade
	}
}

table inet filter {
	chain input {
		type filter hook input priority filter; policy accept;
	}
	chain forward {
		type filter hook forward priority filter; policy accept;
	}
	chain output {
		type filter hook output priority filter; policy accept;
	}
}
